<div class="container">
  <div>
    <div>
      <div  class="close-button">
        <button mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
          <form [formGroup]="inviteUsersForm" (ngSubmit)="onSubmit()">

            <div class="select-user-container">
            <mat-form-field>
              <input type="text" matInput placeholder="Search users to add" [matAutocomplete]="auto" formControlName="findUser">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUsers" (optionSelected)="onUserSelected($event.option.value)">
                <ng-container>
                  <mat-option *ngFor="let user of users" [value]="user">
                    <span>{{ user.username }}</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
            <button mat-icon-button type="button" (click)="onAddUser()" [disabled]="!selectedUser">
              <mat-icon>add</mat-icon>
            </button>
          </div>

            <mat-chip-list>
              <mat-chip *ngFor="let user of inviteUsersForm.get('users').value">
                {{ user.username }}
                <mat-icon matChipRemove (click)="onRemoveUser(user)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>

            <div class="invite-button">
              <button mat-button  mat-dialog-close type="submit" [disabled]="!inviteUsersForm.get('users')">Invite Users</button>
            </div>

          </form>
    </div>
  </div>
</div>
