<div class="container">
  <div>
    <div>
      <mat-card>
        <mat-card-title>Create new chat room</mat-card-title>

        <mat-card-content>
          <form [formGroup]="createNewChatRoomForm" (ngSubmit)="onSubmit()">

            <mat-form-field>
              <input type="text" matInput placeholder="Name" formControlName="name">

            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput placeholder="Search users to add" [matAutocomplete]="auto" formControlName="findUser">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUsers" (optionSelected)="onUserSelected($event.option.value)">
                <ng-container>
                  <mat-option *ngFor="let user of users" [value]="user">
                    <span>{{ user.username }}</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
            <button mat-button type="button" (click)="onAddUser()" [disabled]="!selectedUser">Add User</button>

            <mat-chip-list>
              <mat-chip *ngFor="let user of createNewChatRoomForm.get('users').value">
                {{ user.username }}
                <mat-icon matChipRemove (click)="onRemoveUser(user)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>

            <div class="button">
              <button mat-button type="submit" [disabled]="!createNewChatRoomForm?.valid">Create Chatroom</button>
            </div>

          </form>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
