<div class="container">
  <div>
    <div>
      <mat-card>
        <mat-card-title>Create new chat room</mat-card-title>

        <mat-card-content>
          <form [formGroup]="createNewChatRoomForm" (ngSubmit)="onSubmit()">

            <mat-form-field>
              <input type="text" matInput placeholder="Name" formControlName="name">
              <mat-error *ngIf="createNewChatRoomForm.get('name')?.invalid && (createNewChatRoomForm.get('name')?.dirty || createNewChatRoomForm.get('name')?.touched)">
                A chatroom name is required.
              </mat-error>
            </mat-form-field>
            <div class="select-user-container">
            <mat-form-field>
              <input type="text" matInput placeholder="Search users to add" [matAutocomplete]="auto" formControlName="findUser">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUsers" (optionSelected)="onUserSelected($event.option.value)">
                <ng-container>
                  <mat-option *ngFor="let user of users" [value]="user">
                    <span>{{ user.username }}</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
            <button mat-icon-button type="button" (click)="onAddUser()" [disabled]="!selectedUser">
              <mat-icon>add</mat-icon>
            </button>
          </div>

            <mat-chip-list>
              <mat-chip *ngFor="let user of createNewChatRoomForm.get('users').value">
                {{ user.username }}
                <mat-icon matChipRemove (click)="onRemoveUser(user)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>

            <div class="button">
              <button mat-button type="submit" [disabled]="!createNewChatRoomForm?.valid">Create Chatroom</button>
            </div>

          </form>
        </mat-card-content>
      </mat-card>
      <div class="dashboard-route">
        <a [routerLink]="['/private/chat-dashboard']">
          <mat-icon>backspace</mat-icon>
          <p>Back to the dashboard</p>
        </a>
      </div>
    </div>
  </div>
</div>
