.container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('../../../../assets/images/Pastel\ Sky\ Background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  .dashboard-route {
    margin-left: 300px;
    margin-top: 10px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;

      a {
        font-size: larger;
        display: flex;
        color: white;
        text-decoration: none;
        p {
          margin-left: 2px;
        }

        &:hover {
          color: purple;
        }
      }
  }


  mat-card {
    width: 55%;
    margin-right: 300px;
    margin-left: 300px;
    color: white;
    background: rgba(20, 18, 18, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(20, 18, 18, 0.3);
    mat-card-content {
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;

        mat-form-field {
          width: 100%;
          color: white;
          min-height: 80px;
          min-width: 400px;

          mat-error {
            margin-bottom: 5px;
          }
        }

        .mat-chip {
          background-color: rgb(241, 241, 185);

        }

        .button{
          display: flex;
          justify-content: flex-end;
        }

        .button
        button {
          border-radius: 5%;
          background-color: #0077b6;
          color: white;
          display: flex;
        }

        .select-user-container{
          display: flex;
          flex-direction: row;

        }
      }
    }
  }
}
