<div class="chat-box">
  <div class="message-container" #messageContainer>
    <div class="message" *ngFor="let message of messages$ | async" [ngClass]="{'own-message': message.user.id === loggedUserId}">
      <p class="date">{{ message.created | date: 'yyyy-MM-dd HH:mm' }}</p>
      <p>{{ message.user.username }}: {{ message.content }}</p>
    </div>
  </div>
  <mat-form-field appearance="fill" class="input-field">
    <input matInput placeholder="Type a message" [(ngModel)]="messageContent">
    <button mat-button matSuffix [disabled]="!messageContent" (click)="onSendMessage()">Send</button>
  </mat-form-field>
</div>
